/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #2B4C13;
    background-color: #FFFEF0;
    text-align: left;
    overflow-x: hidden;
}

h3 {
    font-family: 'Love Craft';
    color: #2B4C13;
    text-align: left;
    font-size: 80px;
}

h4 {
    font-family: 'Love Craft';
    color: #2B4C13;
    text-align: center;
    font-size: 60px;
}

/* fonts */
@font-face {
    font-family: 'Love Craft';
    src: url('custom_font/LoveCraft.woff2') format('woff2'),
        url('custom_font/LoveCraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Love Craft';
    src: url('custom_font/LoveCraft-Italic.woff2') format('woff2'),
        url('custom_font/LoveCraft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* header */
header {
    background-color: #F58E03;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: -100px;
}

/* nav */
.nav-container {
    display: inline-block;
    justify-content: center;
    background-color: #cfe65c;
    padding: 6px 90px;
    border-radius: 45px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 6px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    font-weight: 300;
    text-decoration: none;
    color: #2B4C13;
    font-size: 22px;
    letter-spacing: 1.2px;
    padding: 4px 0;
}

.nav-links a:hover {
    color: #2a3317;
}

/* header */
.container {
    overflow: hidden;
}

h1 {
    font-family: 'Love Craft', sans-serif;
    font-size: 330px;
    background: linear-gradient(to bottom,
            #F58E03,
            #F5B572,
            #DDE35F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.5;
    padding: 0;
    margin: 0;
    margin-left: -90px;
    line-height: 0.8;
}

.main h1 {
    background: linear-gradient(to bottom,
            #F1619C,
            #F39CBB,
            #F5DBDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 1;
}

.hero-title {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}


/* button */
.button-container {
    text-align: center;
    margin-top: -220px;
    margin-bottom: 0px;
    position: static;
    z-index: 2;
}

.button {
    background-color: #cfe65c;
    display: inline-block;
    padding: 0px 70px;
    border-radius: 45px;
    border: 3px solid #2B4C13;
    position: relative;
    margin-top: -220px;
}

.button a {
    color: inherit;
    text-decoration: none;
}

.button h2 {
    font-size: 80px;
    letter-spacing: 1.2px;
    padding: 0px 40px;
}

.button:hover {
    background-color: #bbd943;
}

/* header title (non-landing) */
.header-title-1 {
    background: #FFFEF0;
    overflow: hidden;
    margin-top: 140px;
    text-align: center;
}

.header-title-2 {
    width: 100%;
    height: fit-content;
    background: #FFFEF0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 60px;
}

.header-title-1 h1, .header-title-2 h1 {
    background: linear-gradient(to bottom,
            #F1619C,
            #F39CBB,
            #F5DBDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 1;
    margin-left: 0;
    font-size: 275px;
    animation: slideInFromBottom 1s forwards;
}

/* about content */
.about-content {
    background-color: #F8DBDB;
}

/* section-1 */
.section-1,
.section-2 {
    overflow-x: hidden;
}

.section-1 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-color: #F8DBDB;
    padding: 120px 100px; 
}

.section-1-container {
    flex: 1; 
}

img {
    max-width: 100%; 
    height: auto;
    padding-top: 80px;
}

h3 {
    font-weight: bold;
    color: #2B4C13;
    margin-bottom: 20px;
}

.section-1-content {
    padding-top: 40px;
}

.section-1-container p {
    color: #2B4C13;
    line-height: 1.6;
    margin-bottom: 30px;
    padding-right: 190px;
}

.section-1 image {
    padding-bottom: 30px;
}

/* section-2 */
.section-2 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start;
    background-color: #DDE35F;
    padding: 120px 100px; 
}

.section-2-container {
    flex: 1; 
    padding: 20px;
    margin: 10px;
}

.section-2-content {
    margin: auto;
}

.section-2-content h4 {
    margin-bottom: 20px;
}

.section-2-content p {
    margin-bottom: 10px;
}

.section-2-content b {
    font-weight: bold;
}

.section-2-p {
    margin-top: 40px;
}

.section-2-container:not(:last-child) {
    border-right: 2px solid #2B4C13;
    padding-right: 20px;
    max-height: 50%;
}

/* Button (Non-landing) */
.button-container-2 {
    padding: 0;
    padding-top: 40px;
}

.button-2 {
    background-color: #F58E03;
    display: inline-block;
    padding: 10px 220px;
    border-radius: 45px;
    border: 3px solid #2B4C13;
}

.button-2 a {
    color: #FFFEF0;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

/* footer */
.footer-section {
    width: 100%;
    background-color: #F1619C;
    padding: 10px 0;
}

.footer {
    display: flex;
    justify-content: center;  
    align-items: center; 
    gap: 10px;
    margin: 0 auto;
    color: #FFFEF0;
}

.footer img {
    padding-top: 5px;
}
.footer p {
    margin: 0;
}

/* star decoration */
.star-decoration,
.star-decoration-1,
.star-decoration-2 {
    position: absolute;
    z-index: 0;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.star-decoration {
    top: 600px;
    left: -140px;
    transform: rotate(30deg);
}

.star-decoration-1 {
    top: 1200px;
    right: -10px;
    transform: rotate(-60deg);
}

.star-decoration-2 {
    top: 450px;
    right: -160px;
    transform: rotate(-20deg);
}

/* animation "hello" */
@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 0.5;
    }
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp-animation-2 {
    animation: 1.5s fadeInUp2;
}

/* hero aniamtion */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%); /* Start above the screen */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Slide into normal position */
        opacity: 1; /* Fade in */
    }
}

/* animation button */
/* reference: https://animista.net/play/basic/slide/slide-bottom */
.button-container {
    animation: slide-up 0.5s ease forwards;
    transform: translateY(100px);
    animation-delay: 0.7s;
    margin-top: -210px;
}

@keyframes slide-up {
    from {
        transform: translateY(300px);
        /* off-screen or lower */
    }

    to {
        transform: translateY(0);
        /* final natural position */
    }
}