@font-face {
    font-family: 'Love Craft';
    src: url('LoveCraft.woff2') format('woff2'),
        url('LoveCraft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Love Craft';
    src: url('LoveCraft-Italic.woff2') format('woff2'),
        url('LoveCraft-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

